<!-- ATL Component HTML Template -->
<div class="container">
  <h2>Transformación ATL</h2>
  <form>
    <div>
      <label for="inModel">Modelo de entrada (.xmi):</label>
      <input type="file" id="inModel" />
    </div>
    <div>
      <label for="inMetamodel">Metamodelo de entrada (.ecore):</label>
      <input type="file" id="inMetamodel" />
    </div>
    <div>
      <label for="outMetamodel">Metamodelo de salida (.ecore):</label>
      <input type="file" id="outMetamodel" />
    </div>
    <div>
      <label for="transformationType">Tipo de transformación:</label>
      <select id="transformationType" name="transformationType">
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="tipo1">Tipo 1</option>
        <option value="tipo2">Tipo 2</option>
        <option value="tipo3">Tipo 3</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Transformar</button>
    <button
      type="button"
      class="btn btn-secondary"
      routerLink="/login"
      style="margin-left: 10px"
    >
      Ver Transformación
    </button>
  </form>
</div>

<!--
<div class="container">
  <h2>Transformación ATL</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="inModel">Modelo de entrada (.xmi):</label>
      <input
        type="file"
        id="inModel"
        (change)="onFileChange($event, 'inModel')"
      />
    </div>
    <div>
      <label for="inMetamodel">Metamodelo de entrada (.ecore):</label>
      <input
        type="file"
        id="inMetamodel"
        (change)="onFileChange($event, 'inMetamodel')"
      />
    </div>
    <div>
      <label for="outMetamodel">Metamodelo de salida (.ecore):</label>
      <input
        type="file"
        id="outMetamodel"
        (change)="onFileChange($event, 'outMetamodel')"
      />
    </div>
    <div>
      <label for="transformationType">Tipo de transformación:</label>
      <input type="text" id="transformationType" name="transformationType" />
    </div>
    <button type="submit">Transformar</button>
  </form>
  <p>{{ responseMessage }}</p>
</div>
-->
