<div class="container mt-3">
  <header
    class="d-flex justify-content-between align-items-center py-3 mb-4 border-bottom"
  >
    <h1 class="h4 text-primary">Proyecto Transformación ATL</h1>
    <button
      class="btn btn-outline-danger"
      (click)="logout()"
      routerLink="/login"
    >
      Cerrar Sesión
    </button>
  </header>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
          <h3>Transformación ATL</h3>
          <h3>Administrador</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3 row align-items-center">
              <div class="col">
                <label for="inModel" class="form-label mb-0"
                  >Modelo de entrada (.xmi):</label
                >
                <input
                  type="file"
                  id="inModel"
                  class="form-control"
                  (change)="onFileChange($event, 'inModel')"
                  required
                />
                <button
                  type="button"
                  [disabled]="!inModelFile"
                  class="btn btn-success"
                  (click)="addEntryModel()"
                >
                  Agregar
                </button>
              </div>
              <div class="col">
                <label for="entryModel" class="form-label mb-0"
                  >Modelos de entrada:</label
                >
                <select
                  id="entryModel"
                  name="entryModel"
                  class="form-control"
                  [(ngModel)]="entryModelFile"
                  required
                >
                  <option value="" disabled selected>
                    Selecciona una opción
                  </option>
                  <option value="Go2Java">Go2Java</option>
                  <option value="tipo2">Transformación Tipo 2</option>
                  <option value="tipo3">Transformación Tipo 3</option>
                </select>
                <button
                  type="button"
                  [disabled]="!entryModelFile"
                  class="btn btn-danger"
                >
                  Eliminar
                </button>
              </div>
            </div>
            <div class="mb-3 row align-items-center">
              <div class="col">
                <label for="inMetamodel" class="form-label mb-0"
                  >Metamodelo de entrada (.ecore):</label
                >
                <input
                  type="file"
                  id="inMetamodel"
                  class="form-control"
                  (change)="onFileChange($event, 'inMetamodel')"
                  required
                />
                <button
                  type="button"
                  [disabled]="!inMetamodelFile"
                  class="btn btn-success"
                >
                  Agregar
                </button>
              </div>
              <div class="col">
                <label for="entryMetamodel" class="form-label mb-0"
                  >Metamodelos de entrada:</label
                >
                <select
                  id="entryMetamodel"
                  name="entryMetamodel"
                  class="form-control"
                  [(ngModel)]="entryMetamodelFile"
                  required
                >
                  <option value="" disabled selected>
                    Selecciona una opción
                  </option>
                  <option value="Go2Java">Go2Java</option>
                  <option value="tipo2">Transformación Tipo 2</option>
                  <option value="tipo3">Transformación Tipo 3</option>
                </select>
                <button
                  type="button"
                  [disabled]="!entryMetamodelFile"
                  class="btn btn-danger"
                >
                  Eliminar
                </button>
              </div>
            </div>
            <div class="mb-3 row align-items-center">
              <div class="col">
                <label for="outModel" class="form-label mb-0"
                  >Modelo de salida (.xmi):</label
                >
                <input
                  type="file"
                  id="outModelFile"
                  class="form-control"
                  (change)="onFileChange($event, 'outModelFile')"
                  required
                />
                <button
                  type="button"
                  [disabled]="!outModelFile"
                  class="btn btn-success"
                >
                  Agregar
                </button>
              </div>
              <div class="col">
                <label for="outEntryModel" class="form-label mb-0"
                  >Modelos de salida:</label
                >
                <select
                  id="outEntryModel"
                  name="outEntryModel"
                  class="form-control"
                  [(ngModel)]="outEntryModelFile"
                  required
                >
                  <option value="" disabled selected>
                    Selecciona una opción
                  </option>
                  <option value="Go2Java">Go2Java</option>
                  <option value="tipo2">Transformación Tipo 2</option>
                  <option value="tipo3">Transformación Tipo 3</option>
                </select>
                <button
                  type="button"
                  [disabled]="!outEntryModelFile"
                  class="btn btn-danger"
                >
                  Eliminar
                </button>
              </div>
            </div>
            <div class="mb-3 row align-items-center">
              <div class="col">
                <label for="transformationFile" class="form-label mb-0"
                  >Archivo de transformación (.atl):</label
                >
                <input
                  type="file"
                  id="transformationFile"
                  class="form-control"
                  (change)="onFileChange($event, 'transformationFile')"
                  required
                />
                <button
                  type="button"
                  [disabled]="!transformationFile"
                  class="btn btn-success"
                >
                  Agregar
                </button>
              </div>
              <div class="col">
                <label for="transformationType" class="form-label mb-0"
                  >Tipo de transformación:</label
                >
                <select
                  id="transformationType"
                  name="transformationType"
                  class="form-control"
                  [(ngModel)]="transformationType"
                  required
                >
                  <option value="" disabled selected>
                    Selecciona una opción
                  </option>
                  <option value="Go2Java">Go2Java</option>
                  <option value="tipo2">Transformación Tipo 2</option>
                  <option value="tipo3">Transformación Tipo 3</option>
                </select>
                <button
                  type="button"
                  [disabled]="!transformationType"
                  class="btn btn-danger"
                >
                  Eliminar
                </button>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Transformar</button>
              <button
                type="button"
                class="btn btn-secondary"
                routerLink="/login"
              >
                Ver Transformación
              </button>
            </div>
          </form>
          <p class="mt-3 text-center text-muted">{{ responseMessage }}</p>
        </div>
        <div>
          <div class="card border-info mb-3">
            <div class="card-header bg-info text-white">
              Resultado de la Transformación
            </div>
            <div class="card-body">
              <ng-container *ngIf="responseMessage; else noResult">
                <p class="card-text">
                  {{ responseMessage }}
                </p>
              </ng-container>
              <ng-template #noResult>
                <p class="card-text text-muted">
                  Aquí se mostrará el resultado de la transformación una vez que
                  se complete el proceso.
                </p>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <p class="mb-0">
            &copy; 2025 Proyecto Transformación ATL. Todos los derechos
            reservados.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
